# Python
**/__pycache__/
__pycache__/
*.pyc
*.py[cod]
*.class
*.log
*.egg-info/
.ipynb_checkpoints/
.env
.venv
env/
venv/
.mypy_cache/
*.jar
dist/

# IDE
.vscode/
.idea/
.Rhistory

# OS
.DS_Store
Thumbs.db

# data
data/*
!data/sample/
!data/external/
!data/raw/
!data/final/
!data/interim
!data/download

# credentials
*.profile
config/local/*
!.gitkeep

# AWS Deploy
copilot

# Project Specific
debug.ipynb