<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Animal Crossing Villagers Recommender ٩( ๑^ ꇴ^)۶</a>
    </h3>

    <p>٩(●ᴗ●)۶ Welcome to the Animal Crossing Villagers Recommendation System! ٩(●ᴗ●)۶ </p>

    <p style="margin-top: 50px;"> Type your favorite villager below (≧◡≦)</p>
    <p style="margin-top: 20px;"> The system will suggest the 10 most similar villagers to you (⌒‿⌒)</p>
    <div class="center">
      <form action="/" method=post>
        <dl>
          <input class="form-control form-control-lg" type="text" name='Name' placeholder="Villager's Name">
          <input type=submit value="Search" class="btn btn-primary">
        </dl>
      </form>
  </div>
    

</body>
</html>